<html>
<head>
    {% load static %}
    <link rel="stylesheet" href={% static "css/work_status.css" %}>
    <title>
        www.project_performance_management.com/teamleader/assign_to_team/
    </title>
    <script>
        function validation()
        {
            <!-- Module for Project -->
            var mod = document.tl_proj.module.selectedIndex;
            if(mod == "")
            {
            alert("Please select your Project Module");
            document.tl_proj.module.focus();
            return false;
            }
        }
    </script>
</head>
<body>
<div id="div1"><br><br>
    <center><h1>Project Performance Management</h1></center>
    <div id="div2">
    <form method="POST" name="tl_proj">
        {% csrf_token %}
        <center><h3>Update the status of Project by Developer</h3></center>
        <div id="div3"><strong><h4><a style="color:white; text-decoration:none;" href="{% url 'emp_home' %}">Home</a> | <a style="text-decoration:none; color:white;" href="{% url 'emp_logout' %}">Logout</a></h4></strong></div>
        <label>Projcet</label>
        <input type="text" name="module" value="{{es.tl_module_proj}}" id="mod"><br><br>
        <label>Start Date</label>
        <input type="date" name="start_date" value="{{es.tl_start_date}}" id="sd"><br><br>
        <label>DeadLine Date</label>
        <input type="date" name="deadline_date" value="{{es.tl_deadline_date}}" id="dd"><br><br>
        <label>Team Name</label>
        <input type="text" name="tl_team_name" value="{{es.tl_ass_to}}" id="at"><br><br>
        <label>Assigned Date</label>
        <input type="date" name="assigned_date" value="{{es.tl_ass_date}}" id="ad"><br><br>
        <label>Work Status</label>
        <select name='percentage' id="emp_teammember">
            <option disabled="true" selected >Select</option>
            {% for i in p.percentage %}
            <option value="{{i}}" >{{i}}</option>
            {% endfor %}
        </select><br><br>
        <label>Allocated To</label>
        <textarea rows="3" cols ="30" name="reason" placeholder="Enter valid reason for pending work..."></textarea><br><br>
        <p style="color:Green">{{emp_alt}}</p><p style="color:red">{{alert}}</p>
        <input type="submit" onsubmit="validation" id="sub">
    </form>
    </div>
</div>
</body>
</html>