<html>
<head>
    {% load static %}
    <title>www.project_performance_management.com/view/status</title>
    <style>
        table
        {
        text-align:center;
        }
        #h1
        {
        color:black;
        text-decoration:none;
        float:right;
        position:absolute;
        right:100px;
        }
        table, th, td
        {
        width:1200px;
        height:50px;
        border:1px solid black;
        border-collapse:collapse;
        }
    </style>
</head>
<body>
<div id="h1"><strong><h4><a href="{% url 'emp_home' %}" style="text-decoration:none;">Home</a> | <a href="{% url 'emp_logout' %}" style="text-decoration:none;">Logout</a></h4></strong></div>
<br><br>
<h1 style="text-align:center;color:darkorange;">Daily Status Report</h1><br>
    <center>
        <table><tr style="text-align:center;color:blue;">
            <strong><th>Working Team</th><th>Team Name</th><th>Start Date</th><th>Deadline Date</th><th>Assigned Date</th><th>Project Paper</th><th>Date for Daily Status</th><th>Project ID</th><th>Developer ID</th><th>Percentage Completed</th><th>Reason for Pending Work, if not completed</th></strong></tr>
            {% for i in report1 %}
            {% for j in report2 %}
            <tr>
                <td>{{j.emp_module_proj}}</td>
                <td>{{i.tl_ass_to}}</td>
                <td>{{i.tl_start_date}}</td>
                <td>{{i.tl_deadline_date}}</td>
                <td>{{i.tl_ass_date}}</td>
                <td><a href="{{i.tl_paper}}"><button value="{{i.tl_paper}}">View Document</button></a></td>
                <td>{{j.date}}</td>
                <td>{{j.man_module_id}}</td>
                <td>{{j.emp_mail}}</td>
                <td>{{j.work_completion}}</td>
                <td>{{j.reason}}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table><br><br>
    </center>
</body>
</html>