<html>
<head>
    <style>
    body
    {
        background: url("/static/image/ppbg.jpg");
        background-attachment:fixed;
        background-size:cover;
        color:orange;
    }
    </style>
    <title>
        www.project_performance_management.com/projectplanning/
    </title>
</head>
<body>
<center><h1 style="color:Green;">Project Performance Management</h1></center>
<div style="float:right; margin-right:350px;"><strong><h4><a href="{% url 'man_home' %}" style="text-decoration:none; font-size:25px; color:brown;">Home</a> | <a href="{% url 'logout' %}" style="text-decoration:none; font-size:25px; color:brown;   ">Logout</a></h4></strong></div>
<center><h2>Project Planning</h2></center><br>
<div style="width:800px; height:500px; margin-left:400px;">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Activities in your project plan include things like</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;measuring progress</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;delegating tasks</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;allocating resources</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;project time tracking spent on tasks</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;communicating effectively</p><br>
    <h3>Project Planning Steps</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;Identify project overview</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;Define Roles and Responsibilities</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;Define Project scope, timeline and budget</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;Define Deliverables</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;Create project Schedule</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;Communicate Project Plan</p>
</div>
</body>
</html>