#div1
{
width:1500px;
height:1000px;
background: url("/static/image/hmbg.jpg") 50% 0 no-repeat fixed;
}
#div2
{
width:300px;
height:300px;
margin-left:650px;
margin-top:-60px;
}
label
{
margin-left:20px;
}
#b1
{
width:60px;
height:25px;
margin-left:210px;
}
#b2
{
width:60px;
height:25px;
margin-left:130px;
}
#b3
{
width:60px;
height:25px;
margin-left:10px;
}