#div1
{
width:1500px;
height:1000px;
background: url("/static/image/hmbg3.jpg") 50% 0 no-repeat fixed;
}
#div2
{
margin-top:100px;
width:500px;
height:300px;
}
#man
{
width:350px;
height:50px;
margin-top:75px;
font-size:30px;
background:#00ff99;
}
#emp
{
width:350px;
height:50px;
margin-top:50px;
font-size:30px;
background:#00ff99;
}
#tl
{
width:350px;
height:50px;
margin-top:50px;
font-size:30px;
background:#00ff99;
}
a
{
text-decoration:none;
}
.b1
{
font-family: "Times New Roman", Times, serif;
}
#div3
{
margin-left:101px;
width:1300px;
height:150px;
background-color:brown;
color:white;
}
