#d1
{
text-align:center;
}
#d2
{
height:600px;
width:600px;
margin-left:450px;
border:1px solid black;
background-color:#4169E1;
border-radius:10px 10px 10px 10px;
}
#d13
{
height:450px;
width:450px;
margin-left:75px;
margin-top:75px;
text-align:center;
border:1px solid black;
background-color:white;
border-radius:10px 10px 10px 10px;
}
#d3
{
margin-left:-220px;
}
#d4
{
color:#4C516D;
margin-left:-20px;
}
#d5
{
width:305px;
height:30px;
background-color:lightgray;
color:black;
border-color:lightgray;
}
#d6
{
width:305px;
height:30px;
background-color:lightgray;
color:black;
border-color:lightgray;
}
#d7
{
width:150px;
height:30px;
background-color:lightgray;
color:black;
border-color:lightgray;
}
#d8
{
width:150px;
height:30px;
background-color:lightgray;
color:black;
border-color:lightgray;
}
#d9
{
width:305px;
height:30px;
background-color:lightgray;
color:black;
border-color:lightgray;
}
#d10
{
color:#4C516D;
}
#d11
{
margin-left:180px;
color:white;
}
#d12
{
color:white;
}

#button1
{
width:180px;
height:40px;
background-color:#4169E1;
font-style:bold;
font-size:18px;
color:white;
}
#button1 a
{
text-decoration:none;
color:black;
}
#button1 a:hover
{
background-color:orange;
color:#d3d3d3;
}