#div1
{
width:1500px;
height:800px;
border:2px solid black;
background: url("/static/image/modulebg.jpg") 50% 0 no-repeat fixed;
background-attachment:fixed;
background-size:cover;
color:white;
}
#div2
{
width:400px;
height:430px;
margin-left:550px;
margin-top:75px;
border:2px solid white;
}
#div3
{
margin-left:280px;
}
label
{
margin-left:30px;
}
#mod
{
margin-left:60px;
}
#sd
{
margin-left:45px;
}
#dd
{
margin-left:10px;
}
#at
{
margin-left:27px;
width:160px;
height:25px;
}
#ad
{
margin-left:14px;
}
#abst
{
margin-left:22px;
}
#sub
{
margin-left:250px;
width:70px;
height:30px;
}